.profileTab {
    @include row;
    justify-content: space-between;
    padding: .7rem .852rem;
    font-family: $font;
    background: $body;
    width: 100%;
    flex-wrap: wrap;


    .breadCrumb {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        p {
            color: $blue;
            font-weight: 500;
            font-size: .82em;
            color: $textColor;

            &:first-child {
                color: $blue;
            }

        }

        .id {
            margin: 0 .51rem;
            font-size: 0.81em;
            font-weight: 400;
        }

        span {
            font-size: 1.5em;
            color: $blue;
            margin-top: 4px;

        }
    }

    .profBtnsGrp {
        display: flex;
        gap: .5rem;

        button {
            @include btn1;
        }
    }

}

.cardTableProf {
    @include row;
    justify-content: start;
    padding: .75rem 1rem;
    background: $W;
    width: 100%;
    flex-wrap: wrap;


    .logoContent {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;


        .imgDiv {
            position: relative;
            // width: 20px;
            // height: 20px;
        }

        .contentsUser {
            display: flex;
            flex-direction: column;
            align-items: start;
            flex-wrap: wrap;


            .firstline {
                display: flex;
            }

            margin: 0 .53rem;

            h2 {
                font-size: 1em;
                font-weight: 500;
            }

            .socialIcons {
                display: flex;
                gap: .25rem;
                margin: 0 .71rem;
                font-size: 1.12em;
            }
        }

        .profileDesigntn {
            display: flex;
            text-align: start;
            margin: .5rem 0;
            color: $textColor;
            gap: .21rem;
            flex-wrap: wrap;
            width: 95%;

            p {
                font-weight: 400;
                font-size: .89em;
                font-family: $font;
            }
        }
    }

    .talebtnDivs {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: .51em;


        button {
            @include btn1;
            display: block;
            font-size: 1em;
            padding: .5rem;
        }

        .contactBtn {
            border: 1px solid #E03131;
            color: #E03131;
            background: #e031311f;
            min-width: 115px;
            font-size: .79em !important;
            font-weight: 500;
        }
    }

}

.tabelHeader {
    display: flex;
    justify-content: space-between;
    padding: .75rem 1rem;
    background: $W;
    width: 100%;
    border: 1px solid #ccc;
    font-family: $font;

    .emailDiv {

        display: flex;
        gap: .2rem;
        flex-wrap: wrap;
        width: 55%;

        .one {
            display: flex;
            align-items: center;
            gap: .3rem;
            font-size: 1em;
            color: $textColor;


            p {
                color: $blue;
                font-weight: 500;
                font-size: 0.7em;
            }
        }

    }

    .tableUserName {
        display: flex;
        gap: .1rem;
        margin: 0;
        flex-wrap: wrap;

        .one {
            display: flex;
            align-items: center;
            gap: .2rem;
            font-family: $font;
            font-size: 1em;
            color: $textColor;

            p {
                font-weight: 500;
                font-size: 0.7em;
            }
        }
    }
}

.tableDiv {
    width: 100%;
    background: $W;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;

    .columnOne {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: .78em;
        color: $textColor;

        .rowOne {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: .46rem;
            text-align: start;

            h4,
            h5 {
                text-align: start;
                font-size: 1em !important;
                width: 50%;
                &::first-letter{
                    text-transform: capitalize;
                }
            }

            h5 {
                font-weight: 500 !important;
            }

        }
    }

}

@media screen and (min-width:1024px) {
    .profileTab {
        @include row;
        justify-content: space-between;
        padding: .7rem .852rem;
        font-family: $font;
        background: $body;
        width: 100%;
        flex-wrap: nowrap;


        .breadCrumb {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;


            p {
                color: $blue;
                font-weight: 500;
                font-size: .82em;
                color: $textColor;

                &:first-child {
                    color: $blue;
                }

            }

            .id {
                margin: 0 .51rem;
                font-size: 0.81em;
                font-weight: 400;
            }

            span {
                font-size: 1.5em;
                color: $blue;
                margin-top: 4px;

            }
        }

        .profBtnsGrp {
            display: flex;
            gap: .5rem;
            flex-wrap: nowrap;


            button {
                @include btn1;
            }
        }

    }

    .cardTableProf {
        @include row;
        justify-content: start;
        padding: .75rem 1rem;
        background: $W;
        width: 100%;
        flex-wrap: nowrap;



        .logoContent {
            display: flex;
            align-items: center;
            width: 100%;
            flex-wrap: nowrap;


            .imgDiv {
                position: relative;
            }

            .contentsUser {
                display: flex;
                flex-direction: column;
                align-items: start;

                .firstline {
                    display: flex;
                }

                margin: 0 .53rem;

                h2 {
                    font-size: 1.12em;
                    font-weight: 500;
                }

                .socialIcons {
                    display: flex;
                    gap: .25rem;
                    margin: 0 .71rem;
                    font-size: 1.12em;
                }
            }

            .profileDesigntn {
                display: flex;
                text-align: start;
                margin: .5rem 0;
                color: $textColor;
                gap: 1rem;
                width: 100%;

                p {
                    font-weight: 400;
                    font-size: .87em;
                    font-family: $font;
                }
            }
        }

        .talebtnDivs {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: .51em;


            button {
                @include btn1;
                display: block;
                font-size: 1.12em;
            }

            .contactBtn {
                border: 1px solid #E03131;
                color: #E03131;
                background: #e031311f;
                min-width: 115px;
                font-size: .9em !important;
                font-weight: 500;
            }
        }

    }

    .tabelHeader {
        display: flex;
        justify-content: space-between;
        padding: .75rem 1rem;
        background: $W;
        width: 100%;
        border: 1px solid #ccc;
        font-family: $font;

        .emailDiv {

            display: flex;
            gap: 2rem;
            width: 100%;

            .one {
                display: flex;
                align-items: center;
                gap: .3rem;
                font-size: 1.2em;
                color: $textColor;

                p {
                    color: $blue;
                    font-weight: 500;
                    font-size: 0.7em;
                }
            }

        }

        .tableUserName {
            display: flex;
            gap: 1rem;
            margin: 0;

            .one {
                display: flex;
                align-items: center;
                gap: .2rem;
                font-family: $font;
                font-size: 1.2em;
                color: $textColor;

                p {
                    font-weight: 500;
                    font-size: 0.7em;
                }
            }
        }
    }

    .tableDiv {
        width: 100%;
        background: $W;
        padding: 1rem;
        display: flex;

        .columnOne {
            width: 50%;
            display: flex;
            flex-direction: column;
            font-size: .8em;
            color: $textColor;

            .rowOne {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: .6rem;
                text-align: start;

                h4,
                h5 {
                    text-align: start;
                    font-size: 1.091em !important;
                    width: 50%;
                    color: $textColor;
                    &::first-letter{
                        text-transform: capitalize;
                    }
                }

                h5 {
                    color: #495057;
                }

            }
        }
    }
}