* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #F8F9FA;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
/* CSS for the toggle button */
.toggle-button {
  position: relative;
  width: 35px;
  height: 17px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.toggle-button.toggled {
  background-color: #2196F3;
}

.toggle-circle {
  position: absolute;
  top: 1.5px;
  left: 2px;
  width: 19px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.toggle-button.toggled .toggle-circle {
  transform: translateX(15px);
}
